<!DOCTYPE html>
<html lang="pt-PT">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Registar Tipo de Mâo de Obra</title>

	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	{% include '$navbar.html' %}

	<div class="p-12 min-w-full">
		<h1 class="text-4xl mb-8">Registar Tipo de Mão de Obra</h1>

		<form class="flex flex-col gap-4  max-w-md" method="post">
			{% csrf_token %}

			{% include '$input.html' with type="text" id="name" placeholder="Nome" %}

			{% include '$input.html' with type="number" id="cost" placeholder="Custo" step="0.1" min="0" %}

			{% include '$submit.html' with text="Registar" %}
		</form>
	</div>
</body>

</html>
