<!DOCTYPE html>
<html lang="pt-PT">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Lista de Fornecedores</title>

	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	{% include '$navbar.html' %}

	<div class="p-12">
		<div class="flex justify-between items-center mb-8 w-full">
			<h1 class="text-4xl">Lista de Fornecedores</h1>

			<button class="bg-gray-900 py-2 border border-gray-500 rounded-3xl text-white w-40">
				<a href="register/">
					Registar
				</a>
			</button>
		</div>

		<div class="flex justify-between w-full mb-4">
			<select name="componente"
				class="appearance-none border border-gray-500 rounded-3xl w-md p-2 leading-tight focus:outline-none focus:shadow-outline">
				<option value="componente1">Nome 1</option>
				<option value="componente2">Nome 2</option>
				<option value="componente3">Nome 3</option>
			</select>
		</div>

		<div class="flex flex-col gap-4">
			<table
				class="overflow-auto border border-gray-300 h-full w-full table-fixed border-collapse border-spacing-px text-left">
				<thead>

					<tr>
						<th class="border border-gray-300 bg-gray-200 p-1 w-12">ID</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Nome do Fornecedor</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Morada</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Código Postal</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Localidade</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Email</th>
						<th class="border border-gray-300 bg-gray-200 p-1 w-32">Ações</th>
					</tr>
				</thead>
				<tbody>
					{% for seller in sellers%}
					<tr>
						<td class="border border-gray-300 p-4">{{seller.0}}</td>
						<td class="border border-gray-300 p-4">{{seller.1}}</td>
						<td class="border border-gray-300 p-4">{{seller.2}}</td>
						<td class="border border-gray-300 p-4">{{seller.3}}</td>
						<td class="border border-gray-300 p-4">{{seller.4}}</td>
						<td class="border border-gray-300 p-4">{{seller.5}}</td>
						<td class="border border-gray-300 p-4">
							<a href="edit/{{seller.0}}">
								Editar
							</a>
							<a href="delete/{{ seller.0 }}" class="underline text-red-500">
								Eliminar
							</a>

						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	{% if delete_fail %}
	<script defer>
		alert("Não foi possível eliminar o tipo de equipamento.");
	</script>
	{% endif %}
</body>

</html>
