<!DOCTYPE html>
<html lang="pt-PT">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Editar Armazém</title>

	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	{% include '$navbar.html' %}

	<div class="p-12 min-w-full">
		<h1 class="text-4xl mb-8">Editar Armazém</h1>

		<form class="flex flex-col gap-4  max-w-md" method="post">
			{% csrf_token %}

			{% include '$input.html' with type="text" id="name" placeholder="Nome" value=storage.1%}

			{% include '$input.html' with type="text" id="address" placeholder="Morada" value=storage.2 %}

			{% include '$input.html' with type="text" id="postal_code" placeholder="Codigo Postal" value=storage.3 %}

			{% include '$input.html' with type="text" id="locality" placeholder="Localidade" value=storage.4%}

			{% include '$submit.html' with text="Guardar" %}
		</form>
	</div>
</body>

</html>
