<!DOCTYPE html>
<html lang="pt-PT">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Componente </title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  {% include '$navbar.html' %}

  <div class="p-12">
    <h1 class="text-3xl mb-2">Editar Componente</h1>

    <form class="flex flex-col gap-4 max-w-md" method="post">
      {% csrf_token %}

      {% include '$input.html' with type="text" id="name" placeholder="Nome" value=component.1 %}

      <select id="fornecedor_id_id" name="fornecedor_id_id"
        class="appearance-none border border-gray-500 rounded-3xl min-w-full p-2 leading-tight focus:outline-none focus:shadow-outline">
        {% for seller in sellers %}
        <option
          value="{{seller.0}}"
          {% if seller.0 == component.4 %}
          selected
          {% endif %}
        >{{seller.1}}</option>
        {% endfor %}
      </select>

      {% include '$input.html' with type="number" id="cost" placeholder="Preço" value=component.3 step=0.1 min="0" %}

      {% include '$submit.html' with text="Editar Componente" %}
    </form>
  </div>
</body>

</html>
