<!DOCTYPE html>
<html lang="pt-PT">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Listagem de Componentes</title>

	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	{% include '$navbar.html' %}

	<form class="p-12 flex-1" action="/components/" method="post">
		{% csrf_token %}

		<div class="flex justify-between items-center mb-8 w-full">
			<h1 class="text-4xl">Listagem de Componentes</h1>

			<div class="flex gap-4">
				<a class="bg-gray-900 py-2 border border-gray-500 rounded-3xl text-white w-40 text-center" href="orders">
					Encomendas
				</a>

				<a class="bg-gray-900 py-2 border border-gray-500 rounded-3xl text-white w-40 text-center" href="../suppliers">
					Fornecedores
				</a>

				<a class="bg-gray-900 py-2 border border-gray-500 rounded-3xl text-white w-40 text-center" href="register/">
					Registar
				</a>
			</div>
		</div>

		<div class="flex justify-between w-full mb-4">
			<div>
				<label class="mr-2"><b>Procurar por:</b></label>
				<input type="text" name="filter_name" id="filter_name" placeholder="Nome" value="{{ request.POST.filter_name }}" class="border border-gray-500 rounded p-2">

				<button type="submit" class="bg-gray-900 py-2 px-4 text-white rounded">Pesquisar</button>

				<select name="sort_order" id="sort_order" class="appearance-none border border-gray-500 rounded-3xl w-md p-2 leading-tight focus:outline-none focus:shadow-outline ml-2">
					<option value="id-asc">ID (Asc)</option>
					<option value="id-desc">ID (Desc)</option>
					<option value="created_at-asc">Data (Asc)</option>
					<option value="created_at-desc">Data (Desc)</option>
					<option value="name-asc">Nome (Asc)</option>
					<option value="name-desc">Nome (Desc)</option>
					<option value="cost-asc">Custo (Asc)</option>
					<option value="cost-desc">Custo (Desc)</option>
					<option value="fornecedor-asc">Fornecedor (Asc)</option>
					<option value="fornecedor-desc">Fornecedor (Desc)</option>
				</select>

				<script>
					if ("{{ request.POST.sort_order }}" !== "") {
						document.getElementById('sort_order').value = "{{ request.POST.sort_order }}";
					}
				</script>
			</div>

			<a class="bg-gray-900 py-2 border border-gray-500 rounded-3xl text-white w-40 text-center" href="stock/">
				Ver Stock
			</a>
		</div>

		<div class="flex flex-col gap-4">
			<table class="overflow-auto border border-gray-300 h-full w-full table-fixed border-collapse border-spacing-px text-left">
				<thead>
					<tr>
						<th class="border border-gray-300 bg-gray-200 text-black p-1 w-12">ID</th>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">Nome Componente</th>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">Data criação</th>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">Custo</th>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">Fornecedor</th>
						<th class="border border-gray-300 bg-gray-200 text-black p-1 w-32">Ações</th>
					</tr>
				</thead>
				<tbody>
					{% for componente in components %}
					<tr>
						<td class="border border-gray-300 text-black p-1">{{componente.0}}</td>
						<td class="border border-gray-300 text-black p-1">{{componente.1}}</td>
						<td class="border border-gray-300 text-black p-1">{{componente.2}}</td>
						<td class="border border-gray-300 text-black p-1">{{componente.3}} €</td>
						<td class="border border-gray-300 text-black p-1">{{componente.4}}</td>
						<td class="border border-gray-300 text-black p-1">
							<a href="edit/{{componente.0}}" class="underline">
								Editar
							</a>
							<br>
							<a href="delete/{{componente.0}}" class="underline text-red-500">
								Eliminar
							</a>
						</td>

					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</form>

	<form class="pl-12 mb-8" action="/components/upload/" method="post" enctype="multipart/form-data">
		{% csrf_token %}

		{{ form.file }}

		<button type="submit" class="bg-gray-900 py-2 px-4 text-white rounded">Importar Componentes</button>
	</form>


	{% if delete_fail %}
	<script defer>
		alert("Não foi possível eliminar o componente!");
	</script>
	{% endif %}
</body>

</html>
