<!DOCTYPE html>
<html lang="pt-PT">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registar Componente</title>

  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  {% include '$navbar.html' %}

  <div class="p-12">
    <h1 class="text-4xl mb-8">Registo Componente</h1>

    <form class="flex flex-col gap-4 max-w-md" method="post">
      {% csrf_token %}

      {% include '$input.html' with type="text" id="name" placeholder="Nome" %}
      <div>
        <label for="Fornecedores">Fornecedores:</label>
        <select id="fornecedor_id_id" name="fornecedor_id_id" class="appearance-none border border-gray-500 rounded-3xl min-w-full p-2 leading-tight focus:outline-none focus:shadow-outline">
          {% for seller in sellers %}
          <option value="{{seller.0}}">{{seller.1}}</option>
          {% endfor %}
        </select>
      </div>

      {% include '$input.html' with type="number" id="cost" placeholder="Preço" %}

      {% include '$submit.html' with text="Criar Componente" %}
    </form>
  </div>
</body>

</html>
