<!DOCTYPE html>
<html lang="pt-PT">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Editar Utilizador</title>

	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	{% include '$navbar.html' %}

	<div class="p-12">
		<h1 class="text-4xl mb-8">Criar Expedição</h1>

		<form class="flex flex-col gap-4 max-w-md" method="post">

			<select name="Ficha de Produção"
				class="appearance-none border border-gray-500 rounded-3xl min-w-full p-2 leading-tight focus:outline-none focus:shadow-outline">
				<option value="Ficha de Produção1">Ficha de Produção 1</option>
				<option value="Ficha de Produção2">Ficha de Produção 2</option>
				<option value="Ficha de Produção3">Ficha de Produção 3</option>
			</select>

			{% include '$input.html' with type="date" id="datasaida" placeholder="Data de saída" %}

			{% include '$input.html' with type="date" id="dataentrega" placeholder="Data Prevista de Entrega" %}

			{% include '$input.html' with type="text" id="matricula" placeholder="Matricula" %}

			{% include '$submit.html' with text="Registar Expedicão" %}
		</form>
	</div>
</body>

</html>
