<!DOCTYPE html>
<html lang="pt-PT">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Lista de Atributos</title>

	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	{% include '$navbar.html' %}

	<div class="p-12">
		<div class="flex justify-between items-center w-full">
			<h1 class="text-4xl mb-8">Listagem de Atributos</h1>

			<a class="bg-gray-900 py-2 border border-gray-500 rounded-3xl text-white w-40 text-center" href="register/">
				Registar
			</a>
		</div>

		<div class="flex justify-between w-full mb-4">
			<form method="POST" action="/attributes/">
				{% csrf_token %}

				<label class="mr-2"><b>Procurar por:</b></label>
				<input type="text" name="filter_name" id="filter_name" placeholder="Atributo" value="{{ request.POST.filter_name }}" class="border border-gray-500 rounded p-2">

				<button type="submit" class="bg-gray-900 py-2 px-4 text-white rounded">Pesquisar</button>

				<select name="sort_order" id="sort_order" class="appearance-none border border-gray-500 rounded-3xl w-md p-2 leading-tight focus:outline-none focus:shadow-outline ml-2">
					<option value="id-asc">ID (Asc)</option>
					<option value="id-desc">ID (Desc)</option>
					<option value="attribute-asc">Atributo (Asc)</option>
					<option value="attribute-desc">Atributo (Desc)</option>
				</select>

				<script>
					if ("{{ request.POST.sort_order }}" !== "") {
						document.getElementById('sort_order').value = "{{ request.POST.sort_order }}";
					}
				</script>
			</form>
		</div>

		<div class="flex flex-col gap-4">
			<table class="overflow-auto border border-gray-300 h-full w-full table-fixed border-collapse border-spacing-px text-left">
				<thead>
					<tr>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">ID</th>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">Atributo</th>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">Valores</th>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">Ações</th>
					</tr>
				</thead>
				<tbody>
					{% for attribute in attributes %}
					<tr>
						<td class="border border-gray-300 p-1">
							{{ attribute.id }}
						</td>
						<td class="border border-gray-300 p-1">{{ attribute.name }}</td>
						<td class="border border-gray-300 p-1">
							{% for value in attribute.values %}
							{{ value }},
							{% endfor %}
						</td>
						<td class="border border-gray-300 p-1">
							<a class="underline" href="edit/{{ attribute.id }}">Editar</a>
							<br>
							<a class="underline text-red-500" href="delete/{{ attribute.id }}">Apagar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% if delete_fail %}
	<script defer>
		alert("Não foi possível eliminar o atributo.");
	</script>
	{% endif %}
</body>

</html>
