<!DOCTYPE html>
<html lang="pt-PT">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Lista de Atributos</title>

	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	{% include '$navbar.html' %}

	<div class="p-12">
		<div class="flex justify-between items-center w-full">
			<h1 class="text-4xl mb-8">Listagem de Componentes</h1>

			<a class="bg-gray-900 py-2 border border-gray-500 rounded-3xl text-white w-40 text-center" href="register/">
				Registar
			</a>
		</div>

		<div class="flex justify-between w-full mb-4">
			<select name="componente"
				class="appearance-none border border-gray-500 rounded-3xl w-md p-2 leading-tight focus:outline-none focus:shadow-outline">
				<option value="componente1">Atributo 1</option>
				<option value="componente2">Atributo 2</option>
				<option value="componente3">Atributo 3</option>
			</select>
		</div>

		<div class="flex flex-col gap-4">
			<table
				class="overflow-auto border border-gray-300 h-full w-full table-fixed border-collapse border-spacing-px text-left">
				<thead>
					<tr>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">ID</th>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">Atributo</th>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">Valores</th>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">Ações</th>
					</tr>
				</thead>
				<tbody>
					{% for attribute in attributes %}
					<tr>
						<td class="border border-gray-300 p-1">
							{{ attribute.id }}
						</td>
						<td class="border border-gray-300 p-1">{{ attribute.name }}</td>
						<td class="border border-gray-300 p-1">
							{% for value in attribute.values %}
							{{ value }},
							{% endfor %}
						</td>
						<td class="border border-gray-300 p-1">
							<a class="underline" href="edit/{{ attribute.id }}">Editar</a>
							<br>
							<a class="underline text-red-500" href="delete/{{ attribute.id }}">Apagar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% if delete_fail %}
	<script defer>
		alert("Não foi possível eliminar o tipo de equipamento.");
	</script>
	{% endif %}
</body>

</html>
