<!DOCTYPE html>
<html lang="pt-PT">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Registar Atributo</title>

	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	{% include '$navbar.html' %}

	<div class="p-12 min-w-full">
		<h1 class="text-4xl mb-8">Registar Atributo</h1>

		<form class="flex flex-col gap-4  max-w-md" method="post">
			{% csrf_token %}

			{% include '$input.html' with type="text" id="name" placeholder="Nome" %}

			<div class="flex gap-8">
				<div id="value_cnt" class="flex flex-col gap-4">
					<div>
						{% include '$input.html' with type="text" id="values" placeholder="Valor" %}
					</div>
				</div>

				<button id="add_btn" type="button" class="border border-gray-500 px-5 rounded-full h-11">
					Adicionar
				</button>
			</div>

			{% include '$submit.html' with text="Registar" %}
		</form>
	</div>

	<script>
		const addButton = document.getElementById('add_btn');
		const valueContainer = document.getElementById('value_cnt');

		addButton.addEventListener('click', () => {
			const li = document.createElement('div');
			li.innerHTML = `{% include '$input.html' with type="text" id="values" placeholder="Valor" %}`;
			valueContainer.appendChild(li);
		});
	</script>
</body>

</html>
