<!DOCTYPE html>
<html lang="pt-PT">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Registar Expedição de Encomenda de Equipamento</title>

	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	{% include '$navbar.html' %}

	<div class="p-12">
		<h1 class="text-4xl mb-8">Registar Expedição de Encomenda de Equipamento</h1>

		<form class="flex flex-col gap-4 max-w-md" method="post">
			{% csrf_token %}

			<div class="flex gap-4">
				<div id="registry_cnt" class="flex flex-col gap-4">
					<div>
						<select id="production_registry_id_id" name="production_registry_id_id" class="appearance-none border border-gray-500 rounded-3xl w-md p-2 leading-tight focus:outline-none focus:shadow-outline">
							{% for production_registry in production_registries %}
							<option value="{{ production_registry.0 }}">{{ production_registry.1 }} ({{ production_registry.2 }} - {{ production_registry.3 }}) ({{ production_registry.4 }} componentes)</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<button id="add_btn" class="bg-gray-900 border px-4 border-gray-500 h-11 rounded-3xl w-fit whitespace-nowrap text-white" type="button">
					Adicionar registos
				</button>
			</div>

			{% include '$input.html' with type="date" id="sent_at" placeholder="Data de envio" %}

			{% include '$input.html' with type="text" id="truck_license" placeholder="Matricula" %}

			{% include '$input.html' with type="date" id="delivery_date_expected" placeholder="Data de entrega esperada" %}

			{% include '$submit.html' with text="Registar Expedição de Encomenda" %}
		</form>
	</div>

	<script>
		document.getElementById('add_btn').addEventListener('click', () => {
			const registry_cnt = document.getElementById('registry_cnt');

			const div = document.createElement('div');
			div.innerHTML = `
				<div>
					<select id="production_registry_id_id" name="production_registry_id_id" class="appearance-none border border-gray-500 rounded-3xl w-md p-2 leading-tight focus:outline-none focus:shadow-outline">
						{% for production_registry in production_registries %}
						<option value="{{ production_registry.0 }}">{{ production_registry.1 }} ({{ production_registry.2 }} - {{ production_registry.3 }}) ({{ production_registry.4 }} componentes)</option>
						{% endfor %}
					</select>
				</div>
			`;

			registry_cnt.appendChild(div);
		});
	</script>
</body>

</html>
