<!DOCTYPE html>
<html lang="pt-PT">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Editar Equipamentos</title>

  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  {% include '$navbar.html' %}

  <div class="p-12 min-w-full">
    <h1 class="text-4xl mb-8">Editar Equipamentos</h1>

    <form class="flex flex-col gap-4  max-w-md" method="post">
      {% csrf_token %}

      {% include '$input.html' with type="text" id="name" placeholder="Nome" value=equipment.1 %}

      <select id="tipo_equipamento_id_id" name="tipo_equipment_id_id"
      class="appearance-none border border-gray-500 rounded-3xl min-w-full p-2 leading-tight focus:outline-none focus:shadow-outline">
      {% for equipment_type in equipment_types %}
      <option
        value="{{equipment_type.0}}"
        {% if equipment.3 == equipment_type.0 %}
        selected
        {% endif %}  
      >{{equipment_type.1}}</option>
      {% endfor %}
    </select>

      {% include '$submit.html' with text="Guardar Equipamento" %}
    </form>
  </div>
</body>

</html>
