<!DOCTYPE html>
<html lang="pt-PT">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Editar Equipamentos</title>

  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  {% include '$navbar.html' %}

  <div class="p-12 min-w-full">
    <h1 class="text-4xl mb-8">Editar Equipamentos</h1>

    <form class="flex flex-col gap-4 max-w-md" method="post">
      {% csrf_token %}

      {% include '$input.html' with type="text" id="name" placeholder="Nome" value=equipment.1 %}
      <div>
        <label for="Equipamento_id">Equipamento:</label>
        <select id="tipo_equipamento_id_id" name="tipo_equipment_id_id"
        class="appearance-none border border-gray-500 rounded-3xl min-w-full p-2 leading-tight focus:outline-none focus:shadow-outline">
        {% for equipment_type in equipment_types %}
        <option
        value="{{equipment_type.0}}"
        {% if equipment.3 == equipment_type.0 %}
        selected
        {% endif %}
        >{{equipment_type.1}}</option>
        {% endfor %}
      </select>
    </div>

      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-4" id="att_cnt">
          {% for preselected in preselected_attributes %}
          <div id="value:{{ preselected }}" class="flex flex-col gap-4">
            <div class="flex gap-4">
              <div class="max-w-52">
                <label for="attributes">Atributo:</label>
                <select id="attributes" name="attributes" class="appearance-none border border-gray-500 rounded-3xl min-w-full p-2 leading-tight focus:outline-none focus:shadow-outline">
                  {% for attribute in attributes %}
                  <option
                    value="{{attribute.id}}:{{attribute.value_id}}"
                    {% if preselected == attribute.value_id %}
                    selected
                    {% endif %}
                  >{{attribute.name}}: {{attribute.value}}</option>
                  {% endfor %}
                </select>
              </div>

              <button type="button" onclick="document.getElementById(`value:{{ preselected }}`).remove();" class="border border-gray-500 p-1 rounded-full h-10 mt-6">
                Remover
              </button>
            </div>
          </div>
          {% endfor %}
        </div>

        <button id="add_att_btn" class="border border-gray-500 p-1 rounded-full h-10 ml-25 max-w-52 whitespace-nowrap" type="button">Adicionar Atributo</button>
      </div>

      {% include '$submit.html' with text="Guardar Equipamento" %}
    </form>
  </div>

  <script>
    const attributesContainer = document.getElementById('att_cnt');
    const addAttributeButton = document.getElementById('add_att_btn');

    addAttributeButton.addEventListener('click', () => {
      const div = document.createElement('div');

      div.innerHTML = `
        <div class="max-w-52">
          <label for="attributes">Atributo:</label>
          <select id="attributes" name="attributes" class="appearance-none border border-gray-500 rounded-3xl min-w-full p-2 leading-tight focus:outline-none focus:shadow-outline">
            {% for attribute in attributes %}
            <option value="{{attribute.id}}:{{attribute.value_id}}">{{attribute.name}}: {{attribute.value}}</option>
            {% endfor %}
          </select>
        </div>
      ` ;

      attributesContainer.appendChild(div);
    });
  </script>
</body>

</html>
