<!DOCTYPE html>
<html lang="pt-PT">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Listagem de Equipamentos</title>

	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	{% include '$navbar.html' %}

	<div class="p-12">
		<div class="flex justify-between items-center mb-8 w-full">
			<h1 class="text-4xl ">Listagem de Equipamentos</h1>

			<a class="bg-gray-900 py-2 border border-gray-500 rounded-3xl text-white w-40 text-center" href="register">
				Registar
			</a>
		</div>

		<div class="flex justify-between w-full mb-4">
			<select name="componente"
				class="appearance-none border border-gray-500 rounded-3xl w-md p-2 leading-tight focus:outline-none focus:shadow-outline">
				<option value="componente1">Equipamento 1</option>
				<option value="componente2">Equipamento 2</option>
				<option value="componente3">Equipamento 3</option>
			</select>

			<a class="bg-gray-900 py-2 border border-gray-500 rounded-3xl text-white w-40 text-center" href="stock">
				Ver Stock
			</a>
		</div>

		<div class="flex flex-col gap-4">
			<table
				class="overflow-auto border border-gray-300 h-full w-full table-fixed border-collapse border-spacing-px text-left">
				<thead>
					<tr>
						<th class="border border-gray-300 bg-gray-200 p-1 w-12">ID</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Nome Equipamento</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Data criação</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Tipo</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Atributos</th>
						<th class="border border-gray-300 bg-gray-200 p-1 w-32">Ações</th>
					</tr>
				</thead>
				<tbody>
					{% for equipment in equipments %}
					<tr>
						<td class="border border-gray-300 p-1">{{equipment.0}}</td>
						<td class="border border-gray-300 p-1">{{equipment.1}}</td>
						<td class="border border-gray-300 p-1">{{equipment.2}}</td>
						<td class="border border-gray-300 p-1">{{equipment.3}}</td>
						<td class="border border-gray-300 p-1">cor: azul</td>
						<td class="border border-gray-300 p-1">
							<a href="edit/{{equipment.0}}" class="underline">
								Editar
							</a>
							<br>
							<a href="delete/{{equipment.0}}" class="underline text-red-500">
								Eliminar
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% if delete_fail %}
	<script defer>
		alert("Não foi possível eliminar o equipamento");
	</script>
	{% endif %}
</body>

</html>
