<!DOCTYPE html>
<html lang="pt-PT">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Listagem de Encomendas de Equipamentos</title>

  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  {% include '$navbar.html' %}

  <div class="p-12">
    <h1 class="text-4xl mb-8">Criar Encomenda de Equipamento</h1>

    <form class="flex flex-col gap-4 max-w-md" method="post">
      {% csrf_token %}

      {% include '$input.html' with type="date" id="created_at" placeholder="Data criação" %}

      <div>
        <label for="client_id_id">Cliente:</label>
        <select name="client_id_id" class="appearance-none border border-gray-500 rounded-3xl min-w-full p-2 leading-tight focus:outline-none focus:shadow-outline">
          {% for client in clients %}
          <option value="{{client.0}}">{{client.1}}</option>
          {% endfor %}
        </select>
      </div>

      {% include '$input.html' with type="text" id="address" placeholder="Morada" %}

      {% include '$input.html' with type="text" id="postal_code" placeholder="Código Postal" %}

      {% include '$input.html' with type="text" id="locality" placeholder="Localidade" %}

      <div class="flex w-full gap-4">
        <div id="attr_container" class="flex flex-col gap-4">
          <div class="flex gap-4">
            <div>
              <label for="equipment_id">Equipamento:</label>
              <select name="equipment_id" id="equipment_id" class="appearance-none border border-gray-500 rounded-3xl p-2 min-w-[16rem] leading-tight focus:outline-none focus:shadow-outline">
                {% for equipment in equipments %}
                <option value="{{ equipment.0 }}">{{ equipment.1 }}</option>
                {% endfor %}
              </select>
            </div>

            {% include '$input.html' with type="number" id="amount" placeholder="Quantidade" value=1 %}
          </div>
        </div>

        <button class="bg-gray-900 border px-4 border-gray-500 h-11 rounded-3xl w-fit whitespace-nowrap text-white" id="add_attr_btn" type="button">
          Adicionar Equipamento
        </button>
      </div>

      {% include '$submit.html' with text="Registar Criação de Encomenda " %}
    </form>
  </div>

  <script>
    const addAttrBtn = document.getElementById('add_attr_btn');
    const attrContainer = document.getElementById('attr_container');
    let attrCount = 1;

    addAttrBtn.addEventListener('click', () => {
      const attr = document.createElement('div');
      attr.className = 'flex gap-4';
      attr.innerHTML = `
        <div>
          <label for="equipment_id">Equipamento:</label>
          <select name="equipment_id" id="equipment_id" class="appearance-none border border-gray-500 rounded-3xl p-2 min-w-[16rem] leading-tight focus:outline-none focus:shadow-outline">
            {% for equipment in equipments %}
            <option value="{{ equipment.0 }}">{{ equipment.1 }}</option>
            {% endfor %}
          </select>
        </div>

        {% include '$input.html' with type="number" id="amount" placeholder="Quantidade" value=1 %}
      `;

      attrContainer.appendChild(attr);
    });
  </script>
</body>

</html>
