<!DOCTYPE html>
<html lang="pt-PT">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Lista de Clientes</title>

	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	{% include '$navbar.html' %}

	<div class="p-12">
		<div class="flex justify-between items-center mb-8 w-full">
			<h1 class="text-4xl">Lista de Utilizadores</h1>

			<a class="bg-gray-900 py-2 border border-gray-500 rounded-3xl text-white w-40 text-center" href="register/">
				Registar
			</a>
		</div>

		<div class="flex justify-between w-full mb-4">
			<form method="GET" action="">
				<label for="search">Nome/ID:</label>
				<input type="text" id="search" name="search" placeholder="Digite aqui" value="{{ search_query }}">

				<label>
					<input type="checkbox" id="orderByID" name="order_by" value="id">
					ID
				</label>

				<button type="submit">Pesquisar</button>
			</form>
		</div>



		<div class="flex flex-col gap-4">
			<table
				class="overflow-auto border border-gray-300 h-full w-full table-fixed border-collapse border-spacing-px text-left">
				<thead>
					<tr>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">ID</th>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">Nome do Cliente</th>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">Email</th>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">Tipo</th>
						<th class="border border-gray-300 bg-gray-200 text-black p-1">Ações</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					<tr>
						<td class="border border-gray-300 text-black p-1">{{ user.0 }}</td>
						<td class="border border-gray-300 text-black p-1">{{ user.1 }} {{ user.2 }}</td>
						<td class="border border-gray-300 text-black p-1">{{ user.3 }}</td>
						<td class="border border-gray-300 text-black p-1">
							{% if user.4 == 'AD' %}
							Administrador
							{% elif user.4 == 'FU' %}
							Funcionário
							{% else %}
							Cliente
							{% endif %}
						</td>
						<td class="border border-gray-300 text-black p-1">
							<a href="edit/{{ user.0 }}" class="underline ">
								Editar
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>
