<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Utilizador</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    {% include '$navbar.html' %}

    <div class="p-12">
        <h1 class="text-4xl mb-8">Registo de Utilizador</h1>

        <form class="flex flex-col gap-4 max-w-md" method="post">
            {% csrf_token %}

            {% include '$input.html' with type="text" id="first_name" placeholder="Primeiro Nome" %}

            {% include '$input.html' with type="text" id="last_name" placeholder="Último Nome" %}

            {% include '$input.html' with type="email" id="email" placeholder="Email" %}

            {% include '$input.html' with type="password" id="password" placeholder="Password" %}

            <div>
                <label for="tipo">Tipo de Utilizador:</label>
                <select name="type" id="type" class="appearance-none border border-gray-500 rounded-3xl w-full p-2 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="AD">
                        Administrador
                    </option>
                    <option value="FU" selected>
                        Funcionário
                    </option>
                    <option value="CL">
                        Cliente
                    </option>
                </select>
            </div>

            {% include '$submit.html' with text="Registar Utilizador" %}
        </form>
    </div>
</body>

</html>
