<header class="grid grid-cols-3 place-items-center bg-gray-900 h-16 px-4">
	<div class="flex w-full">
		<a href="/">
			<img src="/static/logo.svg" alt="logo" />
		</a>
	</div>

	<ul class="flex list-none gap-4 text-white no-underline">
		<li>
			<a href="/">Equipamentos</a>
		</li>
		<li>
			<a href="/components/">Componentes</a>
		</li>
		<li>
			<a href="/users/">Utilizadores</a>
		</li>
		<li>
			<a href="/equipments/orders/">Encomendas</a>
		</li>
	</ul>

	<div class="flex w-full justify-end">
		<a href="/login">
			<img src="/static/perfil.svg" alt="perfil" width="42" />
		</a>
	</div>
</header>
