<!DOCTYPE html>
<html lang="pt-PT">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar Utilizador</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  {% include '$navbar.html' %}

  <div class="p-12">
    <h1 class="text-4xl mb-8">Criar Conta</h1>

    <form class="flex flex-col gap-4 max-w-md" method="post">
      {% include '$input.html' with type="text" id="nome" placeholder="Nome" %}

      {% include '$input.html' with type="text" id="apelido" placeholder="Apelido" %}

      {% include '$input.html' with type="email" id="email" placeholder="Email" %}

      {% include '$input.html' with type="password" id="password" placeholder="Password" %}

      {% include '$input.html' with type="password" id="confirmar_password" placeholder="Confirmar Password" %}

      {% include '$submit.html' with text="Criar Conta" %}
    </form>
  </div>
</body>

</html>
