<!DOCTYPE html>
<html lang="pt-PT">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registar Encomenda Componente</title>

  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  {% include '$navbar.html' %}

  <div class="p-12">
    <h1 class="text-4xl mb-8">Registo Encomenda Componente</h1>

    <form class="flex flex-col gap-4" method="post">
      {% csrf_token %}

      {% include '$input.html' with type="date" id="created_at" placeholder="Data criação" %}

      <div class="flex flex-col">
        <label for="fornecedor_id">Fornecedor:</label>
        <select id="fornecedor_id_id" name="fornecedor_id_id" class="appearance-none border border-gray-500 rounded-3xl max-w-[16rem] p-2 leading-tight focus:outline-none focus:shadow-outline min-w-[16rem]">
          {% for seller in sellers %}
          <option value="{{seller.0}}">{{seller.1}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="flex w-full gap-4">
        <div id="attr_container" class="flex flex-col gap-4">
          <div class="flex gap-4">
            <div class="flex flex-col">
              <label for="componente_id">Componente:</label>
              <select name="componente_id" id="componente_id" class="appearance-none border border-gray-500 rounded-3xl p-2 min-w-[16rem] leading-tight focus:outline-none focus:shadow-outline">
                {% for componente in componentes %}
                <option value="{{ componente.0 }}">{{ componente.1 }}</option>
                {% endfor %}
              </select>
            </div>

            {% include '$input.html' with type="number" id="amount" placeholder="Quantidade" value=1 %}
          </div>
        </div>

        <button class="mt-5 bg-gray-900 border px-4 border-gray-500 h-11 rounded-3xl w-fit whitespace-nowrap text-white" id="add_attr_btn" type="button">
          Adicionar Componente
        </button>
      </div>

      {% include '$submit.html' with text="Registar Encomenda" %}
    </form>
  </div>

  <script>
    const addAttrBtn = document.getElementById('add_attr_btn');
    const attrContainer = document.getElementById('attr_container');
    let attrCount = 1;

    addAttrBtn.addEventListener('click', () => {
      const attr = document.createElement('div');
      attr.className = 'flex gap-4';
      attr.innerHTML = `
        <div class="flex flex-col">
          <label for="equipment_id">Equipamento:</label>
          <select name="componente_id" id="componente_id"
            class="appearance-none border border-gray-500 rounded-3xl p-2 min-w-[16rem] leading-tight focus:outline-none focus:shadow-outline">
            {% for componente in componentes %}
            <option value="{{ componente.0 }}">{{ componente.1 }}</option>
            {% endfor %}
          </select>
        </div>

        {% include '$input.html' with type="number" id="amount" placeholder="Quantidade" value=1 %}
      `;

      attrContainer.appendChild(attr);
    });
  </script>
</body>

</html>
