<!DOCTYPE html>
<html lang="pt-PT">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ficha de Produção</title>

	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	{% include '$navbar.html' %}

	<div class="p-12">
		<div class="flex justify-between items-center mb-8 w-full">
			<h1 class="text-4xl">Ficha de Produção</h1>

			<div class="flex gap-4">
				<a class="bg-gray-900 py-2 border border-gray-500 rounded-3xl text-white w-40 text-center" href="../../labor">
					Mão de Obra
				</a>

				<a class="bg-gray-900 py-2 border border-gray-500 rounded-3xl text-white w-40 text-center" href="register">
					Registar
				</a>
			</div>
		</div>

		<div class="flex flex-col gap-4">
			<table class="overflow-auto border border-gray-300 h-full w-full table-fixed border-collapse border-spacing-px text-left text-black">
				<thead>
					<tr>
						<th class="border border-gray-300 bg-gray-200 p-1 w-12">ID</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Equipamento</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Mão de Obra</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Componentes</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Data Início</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Data Fim</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Funcionário</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Armazem</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Custo Total</th>
						<th class="border border-gray-300 bg-gray-200 p-1">Expedido</th>
						<th class="border border-gray-300 bg-gray-200 p-1 w-32">Ações</th>
					</tr>
				</thead>
				<tbody>
					{% for registry in registry_data %}
					<tr>
						<td class="border border-gray-300 p-1">{{ registry.id }}</td>
						<td class="border border-gray-300 p-1">{{ registry.equipment_name }}</td>
						<td class="border border-gray-300 p-1">{{ registry.labour_name }}</td>
						<td class="border border-gray-300 p-1">
							{% for component in registry.components %}
							{{ component.2 }}x {{ component.1 }}<br>
							{% endfor %}
						</td>
						<td class="border border-gray-300 p-1">{{ registry.started_at }}</td>
						<td class="border border-gray-300 p-1">{{ registry.ended_at }}</td>
						<td class="border border-gray-300 p-1">{{ registry.worker_name }}</td>
						<td class="border border-gray-300 p-1">{{ registry.storage_name }}</td>
						<td class="border border-gray-300 p-1">{{ registry.cost }} €</td>
						<td class="border border-gray-300 p-1">
							{% if registry.is_shipped %}
							Sim
							{% else %}
							Não
							{% endif %}
						</td>
						<td class="border border-gray-300 p-1 underline">
							<a href="edit/{{ registry.id }}">Editar</a>
							<br>
							<a class="text-red-500" href="delete/{{ registry.id }}">Apagar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% if delete_fail %}
	<script defer>
		alert("Não foi possível eliminar o registo de produção.");
	</script>
	{% endif %}
</body>

</html>
